
.changing {
    display: flex;
    flex-direction: column;
        gap: 0.5em;
    font-size: 16px;
    /* gap: 2em; */
    align-items:center;
    justify-content: flex-start;
    width: 100%;
    position: relative;
}

.passwords {
    width: 100%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}


.passwords label i {
    color: black;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2em;
}

.buttons i {
    cursor: pointer;
    font-size: 1.1em;
}

.buttons i:hover {
    color: var(--orange-color)
}

.buttons i:active {
    color: var(--orange-color)
}

.hint {
    width: 100%;
    font-size: 0.8em;
    color: rgb(220, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



@media screen and (max-width:600px) {
    .buttons i {
        font-size: 1.2em;
    }
}

@media  screen and (max-width:350px) {
    .changing {
        font-size: 14px;
    }
}







